*.pyc
.script_history
Debug_Dir
Experiments
data/cifar10*
data/mnist
data/imagenet*
base_models
model/*.th
train_params/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db